@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Benton-Sans-Regular/font-file.eot?') format('eot'), url('../fonts/Benton-Sans-Regular/font-file.woff') format('woff'), url('../fonts/Benton-Sans-Regular/font-file.ttf') format('truetype');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Benton-Sans-Regular-Italic/font-file.eot?') format('eot'), url('../fonts/Benton-Sans-Regular-Italic/font-file.woff') format('woff'), url('../fonts/Benton-Sans-Regular-Italic/font-file.ttf') format('truetype');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Benton-Sans-Medium/font-file.eot?') format('eot'), url('../fonts/Benton-Sans-Medium/font-file.woff') format('woff'), url('../fonts/Benton-Sans-Medium/font-file.ttf') format('truetype');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Benton-Sans-Medium-Italic/font-file.eot?') format('eot'), url('../fonts/Benton-Sans-Medium-Italic/font-file.woff') format('woff'), url('../fonts/Benton-Sans-Medium-Italic/font-file.ttf') format('truetype');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Benton-Sans-Bold/font-file.eot?') format('eot'), url('../fonts/Benton-Sans-Bold/font-file.woff') format('woff'), url('../fonts/Benton-Sans-Bold/font-file.ttf') format('truetype');
}

@font-face {
  font-family: 'Benton Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Benton-Sans-Bold-Italic/font-file.eot?') format('eot'), url('../fonts/Benton-Sans-Bold-Italic/font-file.woff') format('woff'), url('../fonts/Benton-Sans-Bold-Italic/font-file.ttf') format('truetype');
}