// fonts

$font-primary: "Benton Sans", sans-serif;

//colors
$color-base: #fff;
$color-primary: #2899C3;
$color-secondary: #313131;

$color-accent: #989898;
$color-highlight: #b2b2b2;
$color-border: #e8e8e8;

$color-action: $color-primary;

// breakpoints
$breakpoint-wide: 1000px;
$breakpoint-large: 950px;
$breakpoint-mid: 800px;
$breakpoint-small: 600px;
$breakpoint-tiny: 400px;